*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding:10px;
    background-image: linear-gradient(to right, #c8d1d0, #9bcacf, #6ac0da, #30b3eb, #00a1f9, #00a3fb, #00a4fd, #00a6ff, #28bcf8, #64ceee, #99dee6, #c9ebe8);
    display: flex;
}

h1{
    color:whitesmoke;
    text-shadow: 2px 3px 3px rgba(0,0,0,.80);
    margin-left:15px;
}

input{
    width:7rem;
    height: 1.5rem;
    margin:8px;
    border-radius: 10%;
    display: inline;
}

.btn{
    background-color:whitesmoke;
    border:0;
    box-shadow:3px 3px 3px rgba(0,0,0,.80);
    width:75px;
    font-size:16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 2rem;
    border-radius: 10%;
    margin-top:25px;

}

.btn:hover{
    background-color:rgb(32, 243, 43);
    box-shadow:6px 6px 6px rgba(0,0,0,.80);
    transition:0.3s;
}

#resultado{
    width:16rem;
    padding:4px;
    text-align: center;
    background: rgb(217, 255, 0);
    box-shadow: 4px 4px 4px rgba(0,0,0,.70);
    margin-top:10px;
    position:relative;
    left:0.5rem;
}

#sum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:20px;
}