*{
    margin:0;
    padding:0;
}

body{
    background:rgba(16,28,28);
    display: flex;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    padding:0;
    text-align: center;
    font-size: 60px;
    color:whitesmoke;
    text-shadow: 4px 4px 4px rgba(0,0,0,.85);
}

#operacao{
    display: inline;
    position:relative;
    top:0.3rem;
}

input{
    width:9rem;
    height: 2rem;
    margin:9px;
    font-size: 16px;
    display: inline;
    box-shadow:2px 2px 2px rgba(0,0,0,.80);
}

.btn{
    height: 2.2rem;
    background-color:rgba(168, 168, 168, 0.9);
    border:0;
    box-shadow:2px 2px 2px rgba(0,0,0,.80);
    width:65px;
    font-size:20px;
    position:relative;
    top:0.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 4%;
    margin-top:25px;

}

.btn:hover{
    background:rgba(136, 136, 136, 0.9);
    box-shadow:4px 4px 4px rgba(0,0,0,.80);
    transition:0.3s;
    cursor:pointer;
}

.btnReload{
    width:7.5rem;
    height: 3rem;
    color:whitesmoke;
    background:rgba(136, 136, 136, 0.9);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px 2px black;
    position:relative;
    top:130px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 4%;
    border:none;
}

.btnReload:hover{
    background:rgba(109, 109, 109, 0.9);
    box-shadow: 4px 4px 4px black;
    transition:0.3s;
    cursor:pointer;
}

#resultado{
    background:whitesmoke;
    font-size: 20px;
    box-shadow: 4px 4px 4px rgb(176, 203, 255);
    position:relative;
    bottom:1.7rem;
    border-radius: 4%;
    display: none;
}

#resultado:hover{
    cursor:default;
}

.internal{
    position: relative;
    left:3.5rem;
}

#calculadora{
    border-radius: 6%;
    width:600px;
    height: 160px;
    box-shadow: 6px 6px 6px rgba(0,191,255);
    background-image: linear-gradient(to right, #c8d1d0, #9bcacf, #6ac0da, #30b3eb, #00a1f9, #00a3fb, #00a4fd, #00a6ff, #28bcf8, #64ceee, #99dee6, #c9ebe8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:10rem;
}